* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generic*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background-color: black;
    color: whitesmoke;
}

/*main*/
main {
    background-color: whitesmoke;
    color: black;
}

img {
    height: 25%;
    width: 40%;
}

/*Footer*/
footer {
    margin-top: auto;
    background-color: rgb(105, 8, 8);
    color: whitesmoke;
}